 
    <div class="footer  col mt-3">
        <p>&copy; 2024 ExampPortal | <a href="#">About Us</a> | <a href="#">Terms of Service</a></p>
        
      </div>
 


  <!-- footer 2 -->

  <!-- <div class="footer">
    <div class="social-icons">
      <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
      <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>
    
    <p>&copy; 2024 Your Company. All rights reserved.</p>

    <div class="feedback-form">
      <form>
        <input type="text" placeholder="Your Name">
        <input type="text" placeholder="Your Email">
        <textarea placeholder="Your Feedback"></textarea>
        <input type="submit" value="Submit">
      </form>
    </div>
  </div> -->